<%= form_for(@plane) do |f| %>
  <% if @plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

      <ul>
      <% @plane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
      <div class="field">
        <%= f.label :tipo %><br>
        <%= f.select(:tipo, options_for_select([['Hotel y guardería', 'Hotel y guardería'], ['Colegio', 'Colegio'],['Peluquería y Spa','Peluquería y Spa' ],['Día de sol','Día de sol' ] ], 'Hotel y guardería'), required: "true" ) %>
      </div>
      <div class="field">
        <%= f.label :texto %><br>
        <%= f.text_area :texto, required: "true", rows:'8' %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit 'Crear Plan', class: "btn btn-primary" %>
      </div>
 </div>     
<% end %>
