<h1>Reserva realizada desde la página</h1> <br>
<p>
    Nombre: <%= @nombre %> <br>
    Correo: <%= @correo %> <br>
    Celular: <%= @celular %> <br>
    Fecha de entrada: <%= @fecha_entrada %> <br>
    Fecha de Salida: <%= @fecha_salida %> <br>
</p>
<p>
    informacion adicional: <%= @info_adicional %> <br>
    Reserva realizada el: <%= @cuando %>
</p>
<br>
<br>
<br>
<p>Recuerda hacer la entrada de datos de la reserva en la opción administrador en 
    <a href="http://www.unapáginaweb.com" target="_blank">www.mundomascotas.club</a> 
</p>
