<p id="notice"><%= notice %></p>
<div class="container-fluid">

   <div class="col-md-3">
    <%= link_to 'Editar', edit_mascotum_path(@mascotum), class: "btn btn-warning col-xs-5" %>
    <div class="col-xs-1"></div> 
    <%= link_to 'Atrás', mascota_path, class: "btn btn-default col-xs-5" %>
  </div>
  <br>
  <br>
   <br>
  <div class="well">
    <p>
      <h2><strong>Id mascota:</strong></h2>
      <%= @mascotum.id_Mas %>
    </p>
  </div>
  <div class="well">
    <p>
      <h2><strong>Nombre:</strong></h2>
      <%= @mascotum.nombre %>
    </p>
  </div>
  <div class="well">
    <p>
      <h2><strong>Dueño:</strong></h2>
      <%= @mascotum.dueño %>
    </p>
  </div>
  <div class="well">
    <p>
      <h2><strong>Entrada:</strong></h2>
      <%= @mascotum.entrada %>
    </p>
  </div>
  <div class="well">
    <p>
      <h2><strong>Salida:</strong></h2>
      <%= @mascotum.salida %>
    </p>
  </div>
  <div class="well">
    <p>
      <h2><strong>Vacunas:</strong></h2>
      <%= @mascotum.vacunas %>
    </p>
  </div>
  <div class="well">
    <p>
      <h2><strong>Raza:</strong></h2>
      <%= @mascotum.raza %>
    </p>
  </div>
  <div class="well">
    <p>
    <h2><strong>Edad:</strong></h2>
      <%= @mascotum.edad %>
    </p>
  </div>
  <div class="well">
    <p>
      <h2><strong>Estado:</strong></h2>
      <%= @mascotum.estado %>
    </p>
  </div>
  
</div>