<%= form_for(@vacuna) do |f| %>
  <% if @vacuna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacuna.errors.count, "error") %> prohibited this vacuna from being saved:</h2>

      <ul>
      <% @vacuna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <select name="vacuna[nombre]" id="vacuna_nombre">
      <option selected="selected" value="Refuerzo anual">Refuerzo anual </option>
      <option value="Tos de las perreras" >Tos de las perreras</option>
      <option value="Antipulgas menor 30 dias">Antipulgas menor 30 dias</option>
      <option value="Desparacitacion ultimos 3 meses">Desparacitacion ultimos 3 meses</option>
    </select>
  </div>
  <div class="actions">
    <%= f.submit 'Agregar Vacuna', class: "btn btn-primary" %>
  </div>
<% end %>
