<p id="notice"><%= notice %></p>

<h1>Lista de Usuarios</h1>
<%= link_to 'Crear Usuario', new_usuario_path, class: "btn btn-primary" %>
<div class="table-responsive">
    <table class="table">
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Mascota</th>
        <th>Cedula</th>
        <th>Estado</th>
        <th  colspan="3"class="text-center">Opciones</th>
        </tr>
    </thead>

    <tbody>
        <% @usuarios.each do |usuario| %>
        <tr>
            <td><%= usuario.nombre %></td>
            <td><%= usuario.apellido %></td>
            <td><%= usuario.tipo %></td>
            <td><%= usuario.telefono %></td>
            <td><%= usuario.correo %></td>
            <td><%= mascotasATexto(@mascotas,usuario.id) %></td>
            <td><%= usuario.cedula %></td>
            <td><%= usuario.estado %></td>
            <td><%= link_to 'Ver', usuario, class: "btn btn-default" %></td>
            <td><%= link_to 'Editar', edit_usuario_path(usuario), class: "btn btn-warning" %></td>
            <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>