<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Mascotas</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to ' Inicio', root_path, class: 'navbar-brand fa fa-home' %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                     <% if logged_in? %>
                        <li>
                            <%= link_to ' Fotos', menu_foto_path, class: 'fa fa-camera' %>
                        </li>
                        <li>
                            <%= link_to ' Usuarios', usuarios_path, class: 'fa fa-users' %>
                        </li>
                        <li>
                            <%= link_to ' Reservas', reservas_path, class: 'fa fa-calendar' %>
                        </li>
                        <li>
                            <%= link_to ' Mascotas', mascota_path, class: 'fa fa-heart' %>
                        </li>
                        <li>
                            <%= link_to ' Planes', planes_path, class: 'fa fa-suitcase' %>
                        </li>
                        <li><%= link_to 'Salir', {:action => :destroy, :controller => 'sessions' }, class: "glyphicon glyphicon-log-out" %></li>
                     <% else %>
                        <li>
                            <%= link_to ' Fotos', fotos_path, class: 'fa fa-camera' %>
                        </li>
                        <!--<li><a href="../login" class="glyphicon glyphicon-log-out">Login</a></li>-->
                     <% end %>   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <% end %>
      <br>
<%= yield %>
<script>
 $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '<Ant',
 nextText: 'Sig>',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
$(function () {
$("#fecha").datepicker();
});
</script>

</body>
</html>
